#__bs_notify__ {
  right: auto !important;
  left: 45% !important;
  top: 5px !important;
  font-size: 10px !important;
  padding: 2px 10px !important;
  background-color: #25364C !important;
  color: white !important;
  border-radius: 20px !important;
}
